@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, "Courier New", monospace;
}

.text-mocano {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, "Courier New", monospace;
}

.text-shadow-glow {
  text-shadow: 0 0 5px rgba(181, 232, 83, 0.5),
               0 0 10px rgba(181, 232, 83, 0.3),
               0 0 15px rgba(181, 232, 83, 0.2);
}